/Arduino/ArduinoPilot.v12.suo
/Arduino - Copy
/ArduinoPilot/libraries
/ArduinoPilot/ArduinoPilot.aps
/ArduinoPilot/ArduinoPilot.opensdf
/ArduinoPilot/ArduinoPilot.rc
/ArduinoPilot/ArduinoPilot.sdf
/ArduinoPilot/ArduinoPilot.v12.suo
/ArduinoPilot/ArduinoPilot.vcxproj.filters
/ArduinoPilot/ArduinoPilot.vcxproj.user
/ArduinoPilot/Visual Micro/.Arduino.vsarduino.h
/ArduinoPilot/Visual Micro/.ArduinoPilot.vsarduino.h
/ArduinoPilot/Visual Micro/Compile.vmps.xml
/ArduinoPilot/Visual Micro/Configuration.Debug.vmps.xml
/ArduinoPilot/Visual Micro/Upload.vmps.xml
/ArduinoPilot/resource.h
/GpsTest/GpsTest.sdf
/GpsTest/GpsTest.v12.suo
/GpsTest/GpsTest.vcxproj.filters
/GpsTest/Visual Micro/.GpsTest.vsarduino.h
/GpsTest/Visual Micro/Compile.vmps.xml
/GpsTest/Visual Micro/Configuration.Debug.vmps.xml
/GpsTest/Visual Micro/Upload.vmps.xml
